button {
    transform: translatey(-50%);

    padding: 8px 16px;

    font-weight: 600;
    color: white;
    background-color: #0282f9;

    border: 0;
}

#card-item {
    background-color: 1c1c1c;


}


#container-cards {
    gap: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;


    width: calc(100% / 6 - 20px);
    padding: 20px 0;

    color: white;

    .content-card {
        align-items: center;

        img {
            max-height: 185px;
            object-fit: cover;
            width: 200px;
        }
    }


}